h1 {
	font-family: "Just Another Hand", cursive;
	letter-spacing: 8px;
	height:40px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 36px;
}

p {
	font-family: 'Just Another Hand', cursive;
	margin: 20px;
}

@font-face {
	font-family: 'Just Another Hand', cursive;
}

.blogDate {
	color: black;
	font-size: 24px;
	height: 24px;
	margin: 0px 20px 0px 0px;
	text-align: right;
}

.blogImage {
	background: url(sunflower.jpg) 50% 50% no-repeat;
	border: 2px solid black;
	border-radius: 25px;
	display:inline-block;
	float: left;
	height: 150px;
	margin: 0px 20px 20px 20px;
	object-fit: cover;
	width: 150px;
}
.blogShare {
	float:right;
	padding-right: 20px;
}

.blogText {
	color: black;
	font-size: 24px;
	text-align: justify;
	margin: 20px;
}

.blogTitle {
	margin: 0px;
}

.post {
	background-color: #ffffff;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 100%
}

.response {
	display: grid;
	grid-template-columns: auto auto auto;
	height: 60px;
	width: 100%;
}

.roundedItem {
	background-color: #ffffff;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.social {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	height: 60px;
	width: 100%;
}

.socialCounter {
	align-content: center
	height: 30px;
	margin: auto;
	width: 30px;
}

.socialImage {
	align-content: center
	height: 30px;
	width: 30px;
}

.socialLink {
	height: 30px;
	margin: auto;
	width: 30px;
}

#content{
	height:100%;
	width: 100%;
}

#header {
	background-color: #ffffff;
	height: 120px;
	position: -webkit-sticky;
	position: sticky;
	top: -60px;
	width: 100%;
}

#kittiebobTitle {
	margin: 0px;
	padding: 10px;
	text-align: center;
}

#kittiebobWritten {
	height: 60px;
	width: 100%;
	text-align: center;
}

#wrapper{
	height: auto;
	margin: 20px;
	max-width: 100%;
	min-width: 300px;
	z-index: 0;
}