body{
	min-width: 300px;
	max-width: 900px;

}

div {
	/*
	border: solid black 1px;
	border-collapse: collapse;
	*/
}

h1 {
	font-family: "Just Another Hand", cursive;
	letter-spacing: 8px;
	text-align: center;
	height:40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	font-family: 'Just Another Hand', cursive;
	margin: 20px;
}

@font-face {
	font-family: 'Just Another Hand', cursive;
}

#header {
	display: grid;
	grid-template-areas: 
	"#kittibobWritten" 
	"#social";
	width: 100%;
	height: 120px;
	background-color: white;
}

#kittibobWritten {
	width: 100%;
	height: 60px;
	text-align: center;
}

#social {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	width: 100%;
	height: 60px;
}

.socialLink {
	width: 60px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
}

.socialImage {
	align-content: center;
	width: 30px;
	height: 30px;
	padding-left: 20px;
}

.post, .roundedItems {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 25px;
	background-color: #ffffff;
}

.post {
	width: 100%
	height: auto;
	min-height: 120px;

}

.blogImage {
	float: left;
	width: auto;
	height: auto;
	max-width: 120px;
	max-height: 120px;
}